<ul class="slds-has-dividers_around-space slds-p-around_medium">
    <li *ngFor="let meal of mealList" class="slds-item" (click)="onClickOnMeal(meal)">  
    <article class="slds-tile slds-media">
      <div class="slds-media__figure">
        <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
          <img alt="" src={{meal.thumbnail}} title={{meal.name}} />
        </span>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-tile__title slds-truncate" title="Lexee L. Jackson">
        <a>
            {{meal.name}}
        </a>
        </h3>
        <div class="slds-tile__detail">
          <dl class="slds-list_horizontal slds-wrap">
            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="category label">Category:</dt>
            <dd class="slds-item_detail slds-truncate" title={{meal.category}}>{{meal.category}}</dd>
            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="area label">Area:</dt>
            <dd class="slds-item_detail slds-truncate" title={{meal.area}}>{{meal.area}}</dd>
          </dl>
        </div>
      </div>
    </article>
    </li>
</ul>
